[Unit]
Description=Url Shortener
After=network.target

[Service]
User=root
WorkingDirectory=/root/apps/yo-link
ExecStart=/root/apps/yo-link/yo-link
Restart=always
RestartSec=4
StandardOutput=inherit
EnvironmentFile=/root/apps/yo-link/config.env

[Install]
WantedBy=multi-user.target